.successCard{
    background-color: #22B393;
    border-radius: 4pt;
    padding: 10vh;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    align-self: center;
}