.collaboratorCard{
    display: block;
    background-color: #FAFAFA;
    padding:1vh 10vh;
    border-radius: 4px;
    font-family: 'Manrope', sans-serif;
    margin-top: 1vh;

    .personName{
        font-weight: 700;
        color: #343A40;
        font-size: 1.2rem;
    }

    .personPosition{
        font-weight: 400;
        color: #6C757D;
    }

}
.selectedCol{
    background-color: #EEEEEE;
}